#page-mod-vote-view .vote_option {position: relative; width: 100%; margin:0.5em 0;}
#page-mod-vote-view .vote_bar {height: 2em; background-color: #CCCCCC;}
#page-mod-vote-view .vote_text {position:absolute; top: 0.4em; left: 0.5em; font-weight: bold}